---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title="Ciclo Family | Rutas por el Vallès">
	<NavBar />
	<main class="my-9">
		<section class="grid text-center">
			<span class="mt-36 mb-16 font-medium text-5xl">Bienvenido a Ciclo Family</span>
			<span class="text-3xl">Aqui encontraras rutas por Catalunya, principalmente por el Vallés</span>
		</section>
	</main>
</Layout>