---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Galeria from '../components/Galeria.astro';
---

<Layout title="Ciclo Family | Rutas por el Vallès">
	<NavBar />
	<main class="my-9">
		<section class="grid text-center">
			<span class="mt-4 md:mt-36 mb-10 md:mb-16 font-medium text-3xl md:text-5xl">Bienvenido a Ciclo Family</span>
			<span class="text-lg md:text-3xl">Aqui encontraras rutas por Catalunya, principalmente por el Vallés</span>
		</section>
		<Galeria />
	</main>
</Layout>