<section class="py-6 bg-1414 flex justify-around items-center">
    <div class="text-center">
        <span class="text-white text-2xl">¿Tienes alguna duda?<br>¡Contacta con nosotros!</span>
    </div>
    <a class="px-3 py-1 font-medium text-2xl hover:scale-110 transition-all flex items-center bg-page-200 rounded-2xl" href="mailto:ciclofamilyinfo@gmail.com&su=CicloFamily&tf=cm" target="_blank">Enviar Mensaje<img class="w-14 ml-2" src="/mail.svg"></a>
    <div class="flex items-center text-white">
        <span class="text-2xl">Siguenos en</span>
        <a class="ml-2 bg-page-200 px-2 py-1 rounded-xl hover:scale-110 transition-all" href="https://es.wikiloc.com/wikiloc/user.do?id=3811112" target="_blank"><img src="/Wikiloc.png" alt="Logo de Wikiloc"></a>
    </div>
</section>