<section class="py-6 bg-1414 md:flex justify-around items-center">
    <div class="text-center">
        <span class="text-white text-lg md:text-2xl">¿Tienes alguna duda?<br>¡Contacta con nosotros!</span>
    </div>
    <div class="flex justify-center">
        <a class="my-8 md:my-0 w-56 md:w-72 px-0 md:px-3 py-1 font-medium text-xl md:text-2xl md:hover:scale-110 transition-all flex justify-center items-center bg-page-200 rounded-2xl" href="mailto:ciclofamilyinfo@gmail.com&su=CicloFamily&tf=cm" target="_blank">Enviar Mensaje<img class="w-10 md:w-14 ml-2" src="/mail.svg"></a>
    </div>
    <div class="flex justify-center items-center text-white">
        <span class="text-lg md:text-2xl">Siguenos en</span>
        <a class="ml-2 bg-page-200 px-2 py-1 rounded-xl hover:scale-110 transition-all" href="https://es.wikiloc.com/wikiloc/user.do?id=3811112" target="_blank"><img class="w-20 md:w-auto" src="/Wikiloc.png" alt="Logo de Wikiloc"></a>
    </div>
</section>