<section class="text-center sticky top-3">
    <nav class="mx-auto w-fit bg-page-300 flex items-center rounded-full">
        <img class="w-16 ml-2" src="Logo.png" alt="Logo de Ciclo Family">
        <a class="mx-2 my-3 px-4 py-2 rounded-3xl text-3xl font-medium hover:bg-page-500 hover:scale-105 active:bg-page-400 transition-all" href="/">Inicio</a>
        <a class="mx-4 my-3 px-4 py-2 rounded-3xl text-3xl font-medium hover:bg-page-500 hover:scale-105 active:bg-page-400 transition-all" href="/rutas">Rutas</a>
        <a class="mx-2 my-3 px-4 py-2 rounded-3xl text-3xl font-medium hover:bg-page-500 hover:scale-105 active:bg-page-400 transition-all" href="/contacto">Contacto</a>
    </nav>
</section>